@media (max-width: 740px) {
    .contain-form {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 0;
        padding-left: 0;
    }
    .contain-form .hosts {
        transform: translate(0, 0);
    }
}